################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BetterInputMacros/bin
/BetterInputMacros/obj
**/*.user
/BetterInputMacros/publish
